// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.carts{
    h2{
        font-size: 24px;
    }
    img{
        width: 100%;
        color: #333333;
    }
}

.cart_zero{
    font-size: 20px;
}

.order-detail-item{
    padding: 10px 10px 10px 0;
}
.order-count{
    font-size: 12px;
    width: 50px;
}
.order-submit{
    font-size: 12px;
    width: 40px;
    padding-left: 3px;
    padding-right: 3px;
}
.order-delete{
    font-size: 12px;
    width: 40px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 0.25rem;
}
