// Place all the styles related to the checkouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-title{
    background: #222222;
    color: #fff;
    padding: 12px 20px;
    font-size: 20px;
}

.current-form{
    border: 1px solid #dee2e6;
    form{
        padding: 15px;
    }
}