header{
    padding: 10px 0;
    border-bottom: 1px solid #a1a1a1;
    img{
        transition: .3s;
        &:hover{
            opacity: 0.7;
        }
    }
    li{
        height: 100%;
        display: flex;
        align-items: center;
    }
    i{
        color: #a1a1a1;
        transition: .3s;
        &:hover{
            color: #555555;
        }
    }
}