// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-create{
  padding: 28px;
  max-width: 380px;
  margin: 0 auto;
}

.user-form{
  .btn{
    width: 100%;
  }
}