// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  position: relative;
}
.user-create{
  padding: 28px;
  max-width: 380px;
  margin: 0 auto;
  h1{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    width:85%;
    margin: 0 auto;
  }
  p{
    font-size: 14px;
    color: #8d8d8d;
  }
}

.user-form{
    .btn{
    height: 45px;
    width: 100%;
  }
}
.form-control{
  color: #8d8d8d;
  border-color: #a1a1a1;
}

.user-mypage{
  h2{
    font-size: 40px;
  }
}

.user-status{
  position: relative; 
  padding: 10px;
  border: solid 1px #dee2e6;
  h3{
    font-size: 20px;
  }
}

.edit-user{
  color: #333333;
  position: absolute;
  bottom: 10px;
  right: 60px;
  &:hover{
    color: #333333;
    text-decoration: underline;
  }
}
.delete-user{
  color: #ff0000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  &:hover{
    color: #ff0000;
    text-decoration: underline;
  }
}

.edit-link{
  color: #333333;
  cursor: pointer;
  &:hover{
    color: #333333;
    text-decoration: underline;
  }

}
.delete-link{
  color: #ff0000;
  cursor: pointer;
  &:hover{
    color: #ff0000;
    text-decoration: underline;
  }
}

.user-data{
  li:not(:last-child):not(.edit){
    border-left: solid 4px #b1b1b1;
  }
}
.new-link{
  border: dashed 1px #b1b1b1;
  padding: 30px;
  transition: .5s;
  &:hover{
    border: dashed 1px #000000;
    a{
      color: #000000;
    }
  }
  a{
    display: block;
    text-align: center;
    color: #b1b1b1;
    transition: .5s;
  }
}

.edit{
  display: none;
  border-left: solid 4px #FF5722;
}
